<div class="team-section">
    <h1 class=" animated infinte bounceInDown delay-3s">Our Team</h1>

    <h4>Contact Us at  : earnlearn95@gmail.com</h4>
    <span class="border"></span>
    <div class="ps">
        <a href="#p1"><img src="../../assets/imgs/adnan.jpg" alt="karim Rayan"></a>
        <a href="#p2"><img src="../../assets/imgs/karim.png" alt="Adnan Barakat"></a>
        <a href="#p3"><img src="../../assets/imgs/karimMohamed.jpg" alt="Israa Mohamed"></a>
        <a href="#p4"><img src="../../assets/imgs/israa.PNG" alt="Nessma Yasser"></a>
        <a href="#p5"><img src="../../assets/imgs/nes.PNG" alt="Israa Mohamed"></a>
        
      


    </div>


    <div class="section" id="p1">
        <span class="name"> Karim Rayan</span>
        <span class="border"></span>
        <p>
            .NET Developer Participated in developing the back end of the project.
         
            gmail account : karimrayan3@gmail.com
         
            telephone number : 01008769657
        </p>
    </div>

    <div class="section" id="p2">
        <span class="name"> Adnan Barakat</span>
        <span class="border"></span>
        <p>
            .NET Developer Participated in developing the back end of the project.
            gmail account : 
            telephone number : 
        </p>
    </div>

    <div class="section" id="p3">
        <span class="name"> Israa Mohamed</span>
        <span class="border"></span>
        <p>
            Front End Developer Participated in developing the front end of the project.
            gmail account : 
            telephone number : 
        </p>
    </div>

    <div class="section" id="p4">
        <span class="name"> Nessma Yasser</span>
        <span class="border"></span>
        <p>
            Front End Developer Participated in developing the front end of the project.
            gmail account : 
            telephone number : 
        </p>
    </div>

    <div class="section" id="p5">
        <span class="name"> karim Mohamed</span>
        <span class="border"></span>
        <p>
            Front End Developer Participated in developing the front end of the project.
            gmail account : 
            telephone number : 
        </p>
    </div>
</div>