<!-- <div  [ngClass]="{'container-fluid':!home}" class="container"> -->
  <div id="loading" #loading ></div> 
  <app-nav-log-out class="fixedNav"></app-nav-log-out>
  <div [ngClass]="{'container-fluid':!home, 'container':home}"style="margin-top: 74px">

  <div *ngIf="home else a;">
   
    <div class="row ">
      <app-slider class="col-md-8"></app-slider>

      <app-log-in class="col-md-4"></app-log-in>
    </div>
  </div>

  <ng-template #a>

    <div class="row">
      <app-side-bar class="col-md-3 side"></app-side-bar>
      <app-content-profile class="col-md-9 content"></app-content-profile>

    </div>
  </ng-template>

</div>