.container{
    margin-top: 100px;
}
button{
    margin-top: 20px;
    
}
#myDIV {
    width: 100%;
    padding: 40px 40px;
    background-color: lightblue;
    margin-top: 10px;
}
 .card{
  padding: 40px 40px;
 }
ul{
   
    padding: 10px 10px;
    align-items: center;
    justify-items: center;
}
li{
    list-style: none;
}
.descrption{
    font-weight: 20% !important;
    color: darkblue;
    display: inline;
}
.fixedNav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}