<div>
  <div class="row">
    <div class="col-ms-2" >
  <!-- <img  src="{{photo.url}}" class="img-thumbnail p-1" width="50%" height="50%" alt=""> -->
  <input type="file" ng2FileSelect [uploader]="uploader" />
  <div class="text-center">
      <!-- <button type="button" class="btn btn-sm "[ngClass]="photo.isMain? 'btn-success active' :'btn-secondary' "[disabled]="photo.isMain" >Main</button> -->
    <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
    <button type="button" class="btn btn-success btn-s"
    (click)="uploader.uploadAll()" >
<span class="glyphicon glyphicon-upload"></span> Upload all
</button>
  </div>
  </div>
    </div>
