<div>
  <!-- <form class="form-inline my-2 my-lg-0 w-50">
      <div class="position-relative w-100">
          <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search For a Job Path "
              aria-label="Search">
          <span class="search btn btn-search"><i class="fa fa-search"></i></span>
      </div>

  </form> -->
  <br>

  <!-- *ngIf="!loginservice.isLoggedIn" -->
  <br>
  <p class="h3 txt animated fadeInUp delay-1s ">Now , You Can Choose Your Career Path <i class="fa fa-hand-o-down"></i>
  </p>

  <br>

  <div class="row no-gutters">
    <!-- <app-card-item class="card col-md-3 m-3" *ngFor="let x of data" [item]="x"></app-card-item> -->

    <app-all-profiles-new class="card col-md-3 m-3" *ngFor="let x of data" [item]="x"></app-all-profiles-new>

  </div>
  <div style="width: 84%">
    <app-button text="View Your Selected Job Profiles" (clickbtn)="viewSelectedJobProfile()"></app-button>
  </div>


</div>