<app-nav-bar></app-nav-bar>

<div  [ngClass]="'container'"  >
    <div  class="row  ">
      
        <app-slider class="col-md-8"  ></app-slider>
                      
      <app-log-in  class="col-md-4"></app-log-in> 
    
      <div class="description">
          <h1 class=" animated fadeInUp delay-9s" >Our site</h1>  
          <h4>
            <br>
            your career is not a sprint it is a marathon we will walk with you through that marathon
            know all job profiles in the development field
            we will help you choosing your desired jobprofile
            just sign up and select your job profile 
            learn all related courses to be qualified enough to start your career
            <br>
          </h4>
          </div>
    
    </div>
      <div class="row no-gutters">
        <div class="card col-md-3 m-5"  *ngFor="let item of jobs">
          <div style="width: 100%;height:200px; overflow: hidden;" class="img">
              <img [src]="item.image" height="200px" class="card-img-top" alt="...">
              </div>
              <div class="card-body" >
                <h5 class="card-title">{{item.name}}</h5>
              
                <p class="card-text">{{item.description}}</p>
              </div>
              </div>
      </div>
      </div>
    <app-about></app-about>
     